/*____ GENERAL ____*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    font-size: 14px;
}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}






/* PRIMARY HEADER */
.logo {
    margin-left: 30px;
    margin: 1.5rem;
    border-radius: 50%;
    max-width: 14%;
    max-height: 20%;

}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .72px;
    color: black;
}

.primary-navigation a:hover {
    font-weight: bold;
}

.primary-navigation a>span[aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75rem;
}

/*Mobile screen size*/
@media (max-width: 60em) {
    .primary-navigation a {
        font-size: 19px;
    }

    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(35vh, 20rem) 5rem;
        background: black;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: fixed;
        display: block;
        background-color: transparent;
        background: url("../assets/shared/menu.jpeg");
        background-repeat: no-repeat;
        width: 5rem;

        /*Importante investigar*/
        aspect-ratio: 1;
        border: 0;
        top: 3rem;
        right: 3rem;
        /*9999 because its gonna be on top of everything else*/
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url("../assets/shared/close.jpeg");
        background-repeat: no-repeat;
    }
}

/*para cuando se aproxime a esas dimensiones 
mostrar el menu hamburguesa y elimine los numeros*/

@media(min-width:60em) and (max-width:80em) {
    .primary-navigation a>span[aria-hidden] {
        display: none;
    }
}






/*TEXT INDEX TITLE HACKAELE, SLOGAN, MAIN IMAGE AND ARROW*/

.titleMain {
    position: relative;
    text-align: center;
    font-size: 120px;
    text-align: center;
    margin-top: -0.05%;
}

.text-container {
    position: relative;
    text-transform: uppercase;
    font-size: 35px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s, step-end 3s forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


/*Ajustar el tamanio para pantallas mas pequenas*/
@media (max-width: 60em) {
    .titleMain {
        font-size: 90px;
        margin-bottom: 5%;
    }

    .text-container {
        font-size: 20px;
    }

    .titleMain {
        font-size: 100px;
        margin-top: 5%;
    }
}

@media(min-width:60em) and (max-width:80em) {
    .text-container {
        font-size: 30px;
    }

    .titleMain {
        font-size: 120px;
        margin-top: 5%;
    }
}


.imageMain-container {
    top: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#imageMain {
    max-width: 400px;
    max-height: 200px;
}

@media (max-width: 60em) {
    .imageMain-container {
        top: 80px;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    #imageMain {
        max-width: 500px;
        max-height: 300px;
    }
}






/*SEARCH BOTTOM*/

.busqueda {
    position: inherit;
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 20px; */
    margin-right: 10%;
    /* float: right; */
    z-index: auto;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
}

.busqueda input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.busqueda button {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: black;
}

.busqueda button:hover {
    background-color: gray;
}






/*_______________________________________*/
/*MAIN BOX - HACKATHONS CARDS STYLE*/
.hackathons-container {
    margin-bottom: 30px;
}

.mainbox {
    position: relative;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.boxitem {
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 18px 18px 6px 6px;
}

.boxitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxcontent {
    flex: 1;
    text-align: center;
}

.boxcontent h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.boxcontent p {
    font-size: 16px;
    margin: 0 0 10px;
}

.boxdate {
    font-size: 12px;
    color: #666;
}

.boxcontent a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.boxcontent a:hover {
    background-color: #333;
}

@media screen and (max-width: 60em) {
    .mainbox {
        margin-left: 20px;
        margin-right: 20px;
    }

    .boxitem {
        width: 100%;
    }
}


/*_______________________________________*/
/*MAIN BOX - HACKATHONS CARDS STYLE*/
.hackathons-view-container {
    margin-bottom: 30px;
}

.view-image {
    max-width: 40%;
    height: 400px;
    border-radius: 20px;
}

.mainbox-view {
    margin-top: 30px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
}

.boxitem-view {
    width: 45%;
}

.boxitem-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxcontent-view {
    flex: 1;
    text-align: center;
    margin-left: 10px; /* Ajusta este valor según tu preferencia */
}

.boxcontent-view h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.boxcontent-view p {
    font-size: 16px;
    margin: 0 0 10px;
}

.boxdate.view {
    font-size: 12px;
    color: #666;
}

.boxcontent-view a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.boxcontent-view a:hover {
    background-color: #333;
}

@media screen and (max-width: 60em) {
    .mainbox-view {
        margin-left: 20px;
        margin-right: 20px;
    }

    .boxitem-view {
        width: 100%;
    }
}




/*FOOOTER*/

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 14px;
    margin-top: 50px;
    margin-right: -2%;
    margin-left: -2%;
    margin-bottom: -2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 60em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}


.footer-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
}

footer li {
    margin-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*FORMS IN UPLOAD.EJS*/
form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.titulo-main {
    position: relative;
    text-align: center;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: black;
}


/* Estilo para el input file */

/* Estilo para el input file */
.custom-file-input::-webkit-file-upload-button {
    background: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-file-input::-moz-file-upload-button {
    background: #000000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
form input[type="submit"] {
    margin-left: 40%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #666;
}

@media(max-width: 60em) {
    .titulo-main {
        font-size: 30px;
        margin-top: 10%;
    }

    form input[type="submit"] {
        margin-left: 30%;
    }
}