<div id="hackathons-view-container">
    <div class="mainbox-view">
        <div class="row">
            <div class="col-md-6">
                <img src="<%=image.path%>" alt="" class="view-image">
            </div>
            <div class="col-md-6">
                <div class="boxcontent-view">
                    <h2>
                        <%= image.title %>
                    </h2>
                    <p>
                        <%= image.description %>
                    </p>
                    <span class="boxdate-view">
                        <%= format(image.created_at) %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>