<div class="footer-container">
    <p>© 2023, Todos los derechos reservados - Jorge Mendez</p>
    <ul>
        <li><a href="#">Github</a></li>
        <li><a href="#">Linkdin</a></li>
        <li><a href="#">Gmail</a></li>
    </ul>
</div>