<header class="primary-header flex">
    <div>
        <a href="/">
            <img src="./assets/shared/mainlogo.jpg" alt="logo" class="logo">
        </a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria>
        <span class="sr-only"> Menu </span>
    </button>

    <nav>
        <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
            <li class="active">
                <a href="/">
                    <span aria-hidden="true">00</span> Home
                </a>
            <li>
                <a href="/">
                    <span aria-hidden="true">01</span> Developers
                </a>
            <li>
                <a href="/upload">
                    <span aria-hidden="true">02</span> Hackathon
                </a>
            <li>
                <a href="/">
                    <span aria-hidden="true">03</span> Hackaele
                </a>
        </ul>
    </nav>
</header>